body {
    font-family: Arial, sans-serif;
    font-size: 10px;
}
.header {
    height: 50px;
}
.logo {
    width: 20%;
    float: left;
}
.logo img {
    width: 100%;
    max-width: 60px;
}
.title {
    width: 60%;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    float: left;
}
.user-info {
    width: 20%;
    text-align: right;
    float: right;
}


  @page {
    margin: 100px 50px;
  }
  header { position: fixed;
    left: 0px;
    top: -70px;
    right: 0px;
    height: 50px;
    /* background-color: #ddd; */
  }
  header h1{
    margin: 10px 0;
  }
  header h2{
    margin: 0 0 10px 0;
  }
  footer {
    position: fixed;
    left: 0px;
    bottom: -50px;
    right: 0px;
    height: 40px;
    border-bottom: 2px solid #ddd;
  }
  footer .page:after {
    content: counter(page);
  }
  footer table {
    width: 100%;
  }
  footer p {
    text-align: right;
  }
  footer .izq {
    text-align: left;
  }
/** tablas**/
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    border-bottom: 1pt solid black;
}
tfoot td {
    border-top: 1pt solid black;
}

th, td {
    padding: 2px 5px;
}

.izq {
    text-align: left;
}
.der {
    text-align: right;
}
